<button class="btn btn-primary create-new-btn" (click)="navigateToCreateCharacter()">
  Forjar um Novo Herói
</button>

<h2>Lista de Heróis</h2>

<div *ngIf="isLoading" class="feedback-message">
</div>
<div *ngIf="error && !isLoading" class="error-message">
</div>


<ul *ngIf="!isLoading && !error && personagens.length > 0">
  <li *ngFor="let personagem of personagens">
    <div class="personagem-info" (click)="toggleDetalhes(personagem)">
      {{ personagem.nome }} - {{ personagem.raca }} {{ personagem.classe }} - Nível: {{ personagem.nivel }}
    </div>

    <button class="btn btn-secondary btn-small" (click)="navigateToEdit(personagem.id); $event.stopPropagation()">
      Editar
    </button>

    <div *ngIf="personagem.mostrarDetalhes" class="detalhes" (click)="$event.stopPropagation()">
      <ul>
        <li><strong>Vida:</strong> {{ personagem.vida }}</li>
        <li><strong>Mana:</strong> {{ personagem.mana }}</li>
        <li><strong>Energia:</strong> {{ personagem.energia }}</li>
        <li><strong>Força:</strong> {{ personagem.forca }}</li>
        <li><strong>Destreza:</strong> {{ personagem.destreza }}</li>
        <li><strong>Inteligência:</strong> {{ personagem.inteligencia }}</li>
        <li><strong>Carisma:</strong> {{ personagem.carisma }}</li>
        <li><strong>XP:</strong> {{ personagem.experiencia }}</li>
      </ul>
    </div>
  </li>
</ul>

<div *ngIf="!isLoading && !error && personagens.length === 0" class="feedback-message">
</div>
